<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation - Cosmetics Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/checkout.css">
</head>
<body class="font-sans font-serif">

    <div th:replace="~{../static/components/session-start :: div}"></div>
    
    <div id="accessibility-placeholder"></div>
    <div id="navbar-placeholder"></div>
    <div id="free-shipping-banner-placeholder"></div>

    <div class="bg-cream py-12">
        <div class="mx-auto px-4 max-w-6xl bg-white rounded-lg shadow-md p-8">
            <h2 class="bag-title text-center">Payment Confirmation</h2>
            <div class="text-center mt-6">
                <p class="text-lg text-gray-700">Thank you for your purchase! Your payment has been successfully processed.</p>
                <p class="text-lg text-gray-700 mt-2">Your Order Number is: <span th:text="${orderNumber}" class="font-bold">N/A</span></p>
                <p class="text-md text-gray-500 mt-2">You will receive a confirmation email shortly with the details of your order.</p>
                <div class="mt-6">
                    <button onclick="window.location.href='/index'" class="continue-btn hover:scale-105 transition-transform duration-300 w-1/4">Back to Home</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/include.js"></script>
</body>
</html>
